@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '{}/node_modules/materialize-css/sass/materialize.scss';
@import "{}/node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
body {
  font-weight: 300;
}

/**
Home page
**/
.todo-top-add {
  margin: 15px 0;
  padding: 8px 10px;
  position: relative;
  color: white;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  input#create-new-task {
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    width: 90%;
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: darken(white, 10%);
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: darken(white, 10%);
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: darken(white, 10%);
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: darken(white, 10%);
    }
  }
  .todo-top-add-button {
    position: absolute;
    right: 10px;
    top: 3px;
  }
}
.todo-box {
  margin: 15px 0;
  padding: 8px 10px;
  position: relative;
  h3 {
    a {
      font-size: 20px;
      font-weight: 300;
      line-height: 120%;
      @extend .teal-text;
    }
  }
}

//Todo List

.todo-box {
  position: relative;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  h3 {
    margin: 0;
    font-size: 14px;
  }
  p {
    font-size: 11px;
  }
}

.todo-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  a {
    margin: 0 3px;
  }
  .remove-task {
    @extend .red-text;
    i {
      font-size: 26px;
    }
    &:hover {
      @extend .text-darken-4;
    }
  }
  .complete-task {
    @extend .teal-text;
    i {
      border: solid 1px;
      border-radius: 50%;
      &:hover,
      &.done {
        color: white;
        @extend .teal;
      }
    }
  }
}

//login
.login-contener {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-box {
    flex-shrink: 1;
  }
  h3 {
    text-align: center;
  }
  .form-input {
    label {
    }
    input {
    }
    button {
    }
  }
}

//Footer
footer {
  border-top: solid 1px #ccc;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
}
