@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '{}/node_modules/materialize-css/sass/materialize.scss';

.todo-top-add {
  padding: 0 10px;
  position: relative;
  .fixed-action-btn {
    position: absolute;
  }
}
