@import '{}/node_modules/materialize-css/sass/materialize.scss';
.todo-box {
  h3 {
    margin: 0;
    font-size: 14px;
  }
  p {
    font-size: 11px;
  }
  .remove-task {
    @extend .red-text;
    &:hover {
      @extend .blue-text;
    }
  }

  &.odd {
  }
  &.even {
  }
}
