.btn-remove-todo {
  padding: 0;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    color: rgba(137, 3, 3, 0.9);
  }
}
.btn-add-todo {
  @extend .btn-remove-todo;
  color: rgba(3, 137, 10, 0.5);
  &:hover {
    color: rgba(3, 137, 10, 0.9);
  }
}
.todo-box {
  h3 {
    margin: 0;
    font-size: 14px;
  }
  p {
    font-size: 11px;
  }
  &.odd {
    background: rgba(0, 60, 0, 0.1);
  }
  &.even {
    background: rgba(90, 160, 0, 0.1);
  }
}
